@if (User.Identity.IsAuthenticated)
{
    @User.Identity.Name

    <form asp-controller="Account" asp-action="Logout">
        <button type="submit" title="Logout">Logout</button>
    </form>
}
else
{
    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <button type="submit" name="provider" value="Google" title="Log in using your Google account">Login with Google</button>
    </form>
}