<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Yo, this the home page!</h1>
            <!-- todo - add something. Unanswered questions? Newest questions? -->
        </div>
    </div>
</div>