@model AuraAndTheChamberOfSecrets.ViewModels.Question.AskViewModel

@{
    ViewData["Title"] = "Ask a question";
}

<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <form asp-action="Ask" method="post" class="form">
            <div class="form-group">
                <label asp-for="QuestionText"></label>
                <textarea asp-for="QuestionText" class="form-control"></textarea>
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Ask Question</button>
        </form>
    </div>
</div>