@model AuraAndTheChamberOfSecrets.ViewModels.Question.SearchViewModel

@{
    ViewData["Title"] = "Search Results";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (Model.SearchResults?.Any() == true)
            {
                foreach (var searchResult in Model.SearchResults)
                {
                    <h5>@searchResult.Title</h5>
                    <p>@searchResult.QuestionText</p>
                }
            }
        </div>
    </div>
</div>
