@model AuraAndTheChamberOfSecrets.ViewModels.Question.SearchViewModel

@using HtmlAgilityPack

@{
    ViewData["Title"] = "Search Results";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (Model.SearchResults?.Any() == true)
            {
                foreach (var searchResult in Model.SearchResults)
                {
                    <h5>
                        <a asp-controller="Question" asp-action="Detail" asp-route-id="@searchResult.Id">@searchResult.Title</a>
                    </h5>
                    <p>
                        @{
                            var questionHtml = new HtmlDocument();
                            questionHtml.LoadHtml(searchResult.QuestionText);
                            var questionText = questionHtml.DocumentNode.InnerText;
                            if (questionText.Length > 200)
                            {
                                questionText = $"{questionText.Substring(0, 200)} ...";
                            }
                        }
                        @questionText
                    </p>
                }
            }
        </div>
    </div>
</div>
