@{
    ViewData["Title"] = "Unauthorized";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>@ViewData["Title"]</h2>
            <p>Sorry, this page isn't for you.</p>
        </div>
    </div>
</div>
